<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Data Source=datadb.appserver;Initial Catalog=web.wxredirect;User ID=dd;Password=dd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>